nav a {
  display: inline-block;
  outline: none;
  text-decoration: none;
  opacity: .7;
  color: #661b00;
  transition: opacity .2s ease-in-out;
}
nav a:hover,
nav a:focus {
  opacity: 1;
}

div {
  width: 100%;
  margin-top: 1rem;
}

h2 {
  font: 400 28px/1.5 Helvetica, Verdana, sans-serif;
  margin: 3rem 0 0 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font: 200 15px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border: none;
}
